<!DOCTYPE html>
<html>
<head>
  <title>Pasteleria</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="css/principal-estilo.css" type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


  




</head>
<body>
          <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">HOME</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#" onclick="location.href='pasteleria.html'">PASTELERIA</a></li>
        <li class="#"><a href="#" onclick="location.href='postres.html'">POSTRES</a></li>
        <li><a href="#" onclick="location.href='pasteles-ocacion.html'">PASTELES DE OCASION</a></li>
        



        <li class=""><a href="javascript:void(0)"  onclick="document.getElementById('newsletter').style.display='block'">NUEVO USUARIO</a></li>
      




      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>        
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" onclick="location.href='login.html'"><span class="glyphicon glyphicon-user"></span> Iniciar sesion</a></li>
      </ul>
    </div>
  </div>
</nav>


  <div class="slideshow-container">

        <div class="mySlides fade">
  
          <img src="./img/oferta1.png" style="width:100%">
  
        </div>

        <div class="mySlides fade">
 
          <img src="./img/oferta2.png" style="width:100%">
  
        </div>

      <div class="mySlides fade">
  
          <img src="./img/oferta3.png" style="width:100%">
  
      </div>

  </div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<br>
            




<div id="principal">

      <section id="slide">
        <img src="img/mitad.jpg" width="900" height="250">
      </section>

      <section id="categorias">
        <section class="uno">
          <img src="img/pastel1.png" width="250" height="150" >
          <h2>Pastel de fresas con crema</h2>
          <p class="parrafo">
            Bizcocho esponjoso bañado con miel de azúcar, almíbar de frutas y canela, relleno y decorado con crema láctea batida y fresas frescas. Pastel de 50 y 80 porciones. 


          </p><br>
          <a href="" class="leer-mas">Leer más</a><br><br>
        </section>
        <section class="uno dos">
          <img src="img/pastel2.png" width="250" height="150" >
          <h2>Pastel selva negra</h2>
          <p class="parrafo">
            Bizcocho esponjoso de chocolate humecido con miel de guinda, relleno y cubierto de crema láctea batida con jalea natural de berries y decorado con guindas bañadas en chocolate. Pastel de 50 y 80 porciones.

          </p><br>
          <a href="" class="leer-mas">Leer más</a><br><br>
        </section>
        <section class="uno">
          <img src="img/pastel3.png" width="250" height="150" >
          <h2>Pastel fresa melocotón</h2>
          <p class="parrafo">
            Bizcocho esponjoso bañado con miel de azúcar almíbar de frutas y canela. Relleno y decorado con crema láctea batida, fresas frescas y melocotones en almíbar. Pastel de 25, 50 y 80 porciones. 
          </p><br>
          <a href="" class="leer-mas">Leer más</a><br><br>
        </section>
      </section> 

      
<section id="categorias">
        <section class="uno">
          <img src="img/pastel4.png" width="250" height="150" >
          <h2>Pastel brownie y cajeta</h2>
          <p class="parrafo">
            Masa enriquecida de brownie, forrado con ganache de chocolate semi-amargo, decorado con besito de dulce de leche y arroz inflado bañado en chocolate. 

          </p><br>
          <a href="" class="leer-mas">Leer más</a><br><br>
        </section>
        <section class="uno dos">
          <img src="img/pastel5.png" width="250" height="150" >
          <h2>Pastel zanahoria</h2>
          <p class="parrafo">
            Masa enriquecida con zanahoria rallada, coco , piña y nuez de nogal decorado con queso crema y mantequilla y almendra tostada. COMPRA YA!!!
            <br><br><br>
          </p><br>
          <a href="" class="leer-mas">Leer más</a><br><br>
        </section>
        <section class="uno">
          <img src="img/pastel6.png" width="250" height="150" >
          <h2>Pastel fresa mango y chocolate blanco</h2>
          <p class="parrafo">
            Bizcocho de vainilla humedecido con miel de almíbar, relleno y decorado con fresas, mango y chocolate blanco con crema batida 100% láctea Anchor. Pastel 25 porciones 
          </p><br>
          <a href="" class="leer-mas">Leer más</a><br><br>
        </section>
      </section> 


      








<br>

<!-------------- NUEVO USUARIO Newsletter Modal -------->
<div id="newsletter" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
    <div class="w3-container w3-white w3-center">
      <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
      <h2 class="w3-wide">NUEVO USUARIO</h2>
     <br>
<button class="w3-btn w3-green w3-ripple" ng-click="editUser('new')">&#9998; Create New User</button>

<form ng-hide="hideform">
  
  <h3 ng-hide="edit">Ingrese sus datos:</h3>
    <label>First Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="fName" ng-disabled="!edit" placeholder="First Name">
  <br>
    <label>Last Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="lName" ng-disabled="!edit" placeholder="Last Name">
  <br>
  <label>Edad:</label>
    <input class="w3-input w3-border" type="text" ng-model="ledad" ng-disabled="!edit" placeholder="Edad">
  <br>

  <label>Email:</label>
    <input class="w3-input w3-border" type="text" ng-model="1email" ng-disabled="!edit" placeholder="Email">
  <br>

    <label>Password:</label>
    <input class="w3-input w3-border" type="password" ng-model="passw1" placeholder="Password">
  <br>
    <label>Repeat:</label>
    <input class="w3-input w3-border" type="password" ng-model="passw2" placeholder="Repeat Password">
 <br>
<button class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete">&#10004; Aceptar</button>
</form>




</div>
      
    
  </div>
</div>











<div class="redes-sociales">
  <h1>Redes Sociales</h1>

<a href="#" class="fa fa-facebook" ></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>

<br>

</div>


<footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
    <div class="w3-row-padding">
      <div class="w3-col s4">
        <h4>PUEDES ENCONTRARNOS AQUI</h4>
        <form action="#" target="">
          <div class="mapa">
             <p><i class="fa fa-fw fa-map-marker"></i> 5ta Ave. 1-35 Residencial Valle la Mariposa</p>
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7726.499381504697!2d-90.62548047553462!3d14.470346659541962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858907dfec2c6e1b%3A0x39d5734f0bd6888e!2sResidenciales%20Valle%20de%20La%20Mariposa%2C%20Amatitl%C3%A1n!5e0!3m2!1ses!2sgt!4v1630342157842!5m2!1ses!2sgt" width="300" height="200"  style="border: 0;" allowfullscreen="" loading="lazy"> </iframe> 
            </div>

          
          <br>
         
        </form>
      </div>

      <div class="w3-col s4">
        <h4>Acera de</h4>
        <p><a href="#">Bienvenido</a></p>
        <p><a href="#">Sobre Nosotros</a></p>
        <p><a href="#">Buscar Tienda</a></p>
        <p><a href="#">Envio</a></p>
        <p><a href="#">Pago</a></p>
        <p><a href="#">Regresar</a></p>
        <p><a href="#">Ayuda</a></p>
      
      </div>

      <div class="w3-col s4 w3-justify">
        <h4>Tienda</h4>
        <p><i class="fa fa-fw fa-map-marker"></i> PASTELERIA</p>
        <p><i class="fa fa-fw fa-phone"></i> 0044123123</p>
        <p><i class="fa fa-fw fa-envelope"></i> pasteleria@gmail.com</p>
        <h4>Aceptamos</h4>
        <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
        <p><i class="fa fa-fw fa-credit-card"></i> Tarjeta de credito</p>
        <br>
        
      </div>
    </div>
  </footer>

  <div class="w3-black w3-center w3-padding-24">DESARROLLADO POR EL MARLON</div>






<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 1590); // 5 seconds
}
</script>



         

</body>
</html> 